<html xmlns ="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantillas :: head">

    </head>
    <body>
        <header th:replace = "layout/plantillas :: header"/>
        <section th:replace = "producto/fragmento ::botonesAgregar"/>
        <section th:replace = "producto/fragmento ::agregarProducto"/>
        <section th:replace="producto/fragmento ::listadoProductos"/>
        <footer th:replace = "layout/plantilla :: footer"></footer>
    </body>
</html>

